pip
wheel
setuptools
numpy
scipy
scikit-learn
matplotlib
pandas
ase
seaborn
gym
cffi 
pyyaml 
tqdm 
braceexpand
protobuf    
psutil  
asap3
sella
amptorch
SIMPLE-NN
tensorflow
tensorforce
drl_surface_seg